body {
  font-family: "Open Sans", helvetica, arial, sans-serif;
  margin: 3%;
}

h1 {
  color: DodgerBlue;
}

h2 {
  color: Crimson;
}

.logo {
  text-align: left;
  width: 48vw;
}
.main{
  display: flex;
    justify-content: space-around;
    height: 70vh
}

.img{
  height: 40vh;
  width: auto;
  margin: 3vh 0;
    
}
